

footer {
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  height: 32px;
  background-color: $fgColor5;
  color:#fff;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
  font-size: 0.7em;
}