//main: styles.scss

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 14.06vw;
  background: url(../images/bg.jpg);
  background-size:cover;
  @media (min-width: $maxWidth) {
    height: 144px;
  }
  @media (max-width: $medWidth) {
    height: 84px;
  }
  &>div {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    max-width: $maxWidth;
    padding: 0 40px;
    font-size: 1.56vw;

    @media (min-width: $maxWidth) {
      width: $maxWidth;
      align-self: center;
      font-size: 16px;
    }

    @media (max-width: $medWidth) {
      font-size: 9.36px;
    }

    .logo {
      //height: 6.54vw;
      width: 6.54vw;
      @media (min-width: $maxWidth) {
        //height: 67px;
        width: 67px;
      }
      @media (max-width: $medWidth) {
        width: 39.23px;
      }
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/logo.png);
    }

    h1 {
      margin: 0 20px;
      line-height: 67px;
      vertical-align: middle;
    }
  }
}