//main: styles.scss

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 144px;
  background: url(../images/bg.jpg);
  background-size:cover;
  &>div {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    max-width: $maxWidth;
    padding: 0 40px;

    @media (min-width: $maxWidth) {
      width: $maxWidth;
      align-self: center;
    }

    .logo {
      height: 67px;
      width: 67px;
      background: url(../images/logo.png);
    }

    h1 {
      margin: 0 20px;
      line-height: 67px;
      vertical-align: middle;
    }
  }
}