//main: styles.scss

$shadefactor: 10%;

$blue-darkest: #323a40;
$blue-dark: #33709f;
$blue: #759dbb;
$blue-light: #d2dbe2;
$blue-lighest: #f1f3f4;
$white: #fff;

$red-darkest: #403438;
$red-dark: #9e3434;
$red: #ba7575;

$green-darkest: #344038;
$green-dark: #349e34;
$green: #75ba75;