//main: styles.scss

#mainview {

  .componentItem {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 64px;
    margin: 1px 0;
    background-color: $fgColor3;

    .image {
      height: 64px;
      width: 64px;
      margin-left: 16px;
      background-image: url(../images/no-product-image.png);
      background-size: contain;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 0 16px;
      .type {
        font-size: 0.8em;
        font-weight: bold;
        margin: 0 0 0.2em 0;
      }
      .name {
        font-size: 0.7em;
        margin:0;
      }
    }

    .price {
      height: 64px;
      width: 96px;
      margin-right: 16px;
      p {
        line-height: 64px;
        margin: 0;
        text-align: center;
        font-size: 0.7em;
        font-weight: bold;
      }
    }

    .indicator {
      position: absolute;
    }

    .hover {
      position: absolute;
      display: none;
      top:0;
      bottom:0;
      left:0;
      right:0;
      background-color: fade-out($fgColor5,0.5);
      cursor: pointer;
      p {
        color: #fff;
        font-size: 0.9em;
        font-weight: bold;
        text-align: center;
        line-height: 64px;
        vertical-align: middle;
        margin: 0;
      }
    }

    &:hover .hover {
      display: block;
    }

    .children {
      position: absolute;
    }
  }

  .pricetotalbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    margin: 1px 0;
    background-color: $fgColor2;
    color: $fgColor5;
    font-size: 0.8em;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
    p {
      line-height: 48px;
      margin: 0;
    }

    #pricetotal {
      width: 96px;
      text-align: center;
    }

    .actions {
      align-self: center;
      flex-grow: 1;
      input {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 6px 20px;
        border-radius: 4px;
        &:hover {
          background-color: #fff;
          color: $fgColor2;
          border-color: $fgColor2;
        }
        cursor: pointer;
        transition: all 0.2s;
      }
    }
  }


}

