//main: styles.scss

#mainview {

  .componentItem {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 64px;
    margin: 1px 0;
    background-color: $blue-light;

    .image {
      height: 58px;
      width: 58px;
      margin: 2px 16px;
      background-image: url(../images/no-product-image.png);
      background-size: contain;
      flex-shrink: 0;
      border: 1px solid $blue;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 0 16px;
      .type {
        font-size: 0.8em;
        font-weight: bold;
        margin: 0 0 0.2em 0;
      }
      .name {
        font-size: 0.7em;
        margin:0;
      }
    }

    .price {
      height: 64px;
      width: 96px;
      margin-right: 76px;
      p {
        line-height: 64px;
        margin: 0;
        text-align: right;
        font-size: 0.7em;
        font-weight: bold;
      }
    }

    .indicator {
      position: absolute;
    }

    .hover {
      position: absolute;
      display: none;
      top:0;
      bottom:0;
      left:0;
      right:0;

      .selectComponent {
        flex-grow: 1;
        cursor: pointer;
        background-color: fade-out($blue-darkest,0.5);
        p {
          color: $white;
          font-size: 0.9em;
          font-weight: bold;
          text-align: center;
          line-height: 64px;
          vertical-align: middle;
          margin: 0;
        }
      }

      .rmComponent {
        display: none;
        color: $white;
        font-size: 20px;
        cursor: pointer;
        margin-left:1px;
        background-color: fade-out($red-darkest,0.5);
        width: 64px;
        line-height: 64px;
        text-align: center;
        &:hover {
          background-color: $red-dark;
        }
      }

    }

    &:hover .hover {
      display: flex;
    }

    .children {
      position: absolute;
    }
  }

  .pricetotalbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    margin: 1px 0;
    background-color: $blue;
    color: $blue-darkest;
    font-size: 0.8em;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;
    @media (max-width: $medWidth) {
      flex-direction: column;
      height: 96px;
    }
    p {
      line-height: 48px;
      margin: 0;
    }

    #pricetotal {
      text-align: right;
      span {
        display: inline-block;
        width: 60px;
        padding-right: 60px;
      }
    }

    .actions {
      align-self: center;
      flex-grow: 1;
      @media (max-width: $medWidth) {
        order: 2;
        align-self: flex-end;
      }
      input {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
        padding: 6px 20px;
        border-radius: 4px;
        &:hover {
          background-color: $white;
          color: $blue;
          border-color: $blue;
        }
        cursor: pointer;
        transition: all 0.2s;
      }
    }
  }


}

