//main: styles.scss

nav {
  position: relative;
  height: 48px;
  background-color: $blue-dark;
  ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: $maxWidth;
    margin: 0 auto;
    box-sizing: border-box;
    border-right: 1px solid darken($blue-dark, $shadefactor);
    border-left: 1px solid darken($blue-dark, $shadefactor);
    li {
      display: block;
      height:48px;
      border-left: 1px solid darken($blue-dark, $shadefactor);
      padding: 0 30px;
      cursor: pointer;

      &:hover {
        background-color: darken($blue-dark,5%);
      }

      span {
        color: $white;
        font-size: 0.8em;
        line-height: 48px;
        vertical-align: middle;
        text-decoration: none;
      }
    }
  }
}
