

#selectview {
  display:none;

  .content {
    font-size: 15px;
  }

  .header h2 {
    .back-btn {
      color: $blue-light;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  #searchbar {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 32px;
    margin: 1px 0;

    .icon {
      background-image: url(../images/search.png);
      background-position: center;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      background-color: $blue-light;
    }

    form {
      position: relative;
      flex-grow: 1;

      input {
        box-sizing: border-box;
        height: 32px;
        width: 100%;
        padding: 0 1em;
        border: none;
        background-color: $blue-lighest;
        outline: none;
      }
    }
  }

  p.shop, .price, p.name, p.brand, p.shop-header, p.price-header, p.name-header, p.brand-header {
    box-sizing: border-box;
  }

  p.name, p.name-header {
    flex-grow: 1;
  }

  p.shop-header, p.price-header, p.brand-header {
    border-left: 1px solid $white;
    cursor: pointer;
  }

  p.header-selected {
    text-decoration: underline;
  }

  p.shop, .price, p.brand {
    border-left: 1px solid $white;
  }

  p.shop-header, p.price-header, p.brand-header, p.shop, p.brand {
    text-align: center;
  }

  p.shop, p.shop-header{
    width: 15%;
    min-width: 96px;
    @media (max-width: 600px) {
      display: none;
    }
  }

  .price, p.price-header {
    width: 120px;
    min-width: 64px;
    flex-shrink: 0;
  }

  .price {
    display: flex;
    flex-direction: row;

    .fa-tag {
      color: $red;
      font-size: 12px;
      margin-left: 4px;
      margin-top: 10px;
    }

    .fa-arrow-down {
      color: $green;
      font-size: 12px;
      margin-left: 4px;
      margin-top: 10px;
    }

    .amount {
      flex-grow: 1;
      text-align: right;
      vertical-align: middle;
      margin-top: 9px;
      margin-right: 4px;
    }
  }

  p.brand, p.brand-header {
    width: 15%;
    min-width: 96px;
    @media (max-width: 800px) {
     display: none;
    }
  }

  .productListHeader {
    display: flex;
    flex-direction: row;
    height: 32px;
    font-size: 0.8em;
    background-color: $blue;
    margin: 1px 0;
    p {
      padding: 0 1em;
      margin: 0;
      line-height: 32px;
      vertical-align: middle;
      color: $white;
    }
  }

  .productItem {
    margin: 1px 0;

    /*&:hover {
      .details {
        height: calc(128px + 2em);
      }
    }*/

    .fields {
      display: flex;
      flex-direction: row;
      height: 32px;
      font-size: 0.8em;
      background-color: $blue-lighest;
      &:hover {
        background-color: $blue-light;
      }

      cursor: pointer;
      p {
        padding: 0 1em;
        margin: 0;
        line-height: 32px;
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .discount {
        color: $red-dark;
      }
    }

    .details {
      position: relative;
      background-color: $blue-light;
      border-left: 1px solid darken($blue-light, $shadefactor);
      border-right: 1px solid lighten($blue-light, $shadefactor);
      overflow: hidden;
      height: 0;
      transition: height 0.4s;

      &.active {
        height: calc(128px + 2em);
      }

      .shader {
        position: absolute;
        top:0;
        bottom:0;
        left:-20px;
        right:-20px;
        box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.3);
      }

      .productInfo {
        display: flex;
        flex-direction: row;
        margin: 1em;

        .connectors {

          margin-top: 7px;
          line-height: 22px;

          .connector {

            font-size: 0.9em;
            line-height: normal;
            white-space: nowrap;
            background-color: $blue-lighest;
            border-radius: 4px;
            margin:2px;
            padding: 4px 4px;

            @mixin connector-icon {
              //margin-left: 10px;
              display: inline-block;
              height: 14px;
              width: 14px;
              background-size: cover;
              vertical-align: middle;
              margin-bottom: 2px;
            }

            .connector-text {
              margin-left: 5px;
              //width: auto;
              //height: 20px;
              //vertical-align: middle;
            }

            .connector-icon-cpu {
              @include connector-icon;
              background-image: url(../images/cpu.png);
            }

            .connector-icon-gpu {
              @include connector-icon;
              background-image: url(../images/gpu.png);
            }

            .connector-icon-memory {
              @include connector-icon;
              background-image: url(../images/mem.png);
            }

            .connector-icon-storage {
              @include connector-icon;
              background-image: url(../images/storage.png);
            }

            .connector-icon-psu {
              @include connector-icon;
              background-image: url(../images/psu.png);
            }

            .connector-icon-case {
              @include connector-icon;
              background-image: url(../images/case.png);
            }
          }
        }

        .image {
          box-sizing: border-box;
          height: 128px;
          width: 128px;
          background-image: url(../images/no-product-image.png);
          background-size: contain;
          border: 1px solid $blue;
          background-repeat: no-repeat;
          flex-shrink: 0;
          @media (max-width: $medWidth) {
            display: none;
          }
        }

        .info {
          position: relative;
          flex-grow: 1;
          margin-left: 10px;
          margin-right: 100px;
          font-size: 0.8em;

          .detail-text {
            margin-top: 7px;
          }

          .alternativeShops {
            margin-top: 7px;
          }

        }
        .actions {
          position: absolute;
          bottom:14px;
          right:14px;
          left:0;
          text-align: right;

          input {
            background-color: transparent;
            border: 1px solid $blue-dark;
            color: $blue-dark;
            padding: 6px 20px;
            border-radius: 4px;
            &:hover {
              background-color: $blue-dark;
              color: $white;
            }
            cursor: pointer;
            transition: all 0.2s;
          }
        }
      }
    }
  }

  #pager {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    @mixin pagebtn() {
      margin: 2px;
      height: 16px;
      min-width: 16px;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
    }
    .previous, .next {
      @include pagebtn();
      background-color: $blue-dark;
      border: 1px solid $blue-dark;
      color: $white;
      &:hover {
        background-color: $white;
        color: $blue-dark;
      }
    }
    .pages {
      display: flex;
      flex-direction: row;
      .pagebtn {
        @include pagebtn();
        border: 1px solid $white;
        color: $blue-dark;
        &:hover {
          border: 1px solid $blue-dark;
        }
      }
      .current {
        border: 1px solid $blue-dark;
      }
    }
  }
}