

#crawlerview {

  display:none;

  .content {
    display:none;
  }

  .crawlerlist {

    display: flex;
    flex-direction: column;
    padding: 2em;

    .crawleritem {
      position: relative;
      display: flex;
      flex-direction: row;
      height: 64px;
      width: 360px;
      margin: 1px 0;
      background-color: $blue-light;

      .crawlericon {
        color: $blue-dark;
        font-size: 48px;
        width: 48px;
        line-height: 48px;
        margin-left: 16px;
        margin-top: 8px;
      }

      .details {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin-top: 22px;
        margin-left: 16px;

        .name {
          font-size: 1em;
          width: 128px;

        }
        .switch {
          font-size: 1em;
          font-weight: bold;
        }
      }

      .indicator {
        position: absolute;
      }

      .hover {
        position: absolute;
        display: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .selectComponent {
          flex-grow: 1;
          cursor: pointer;
          background-color: fade-out($blue-darkest, 0.5);
          p {
            color: $white;
            font-size: 0.9em;
            font-weight: bold;
            text-align: center;
            line-height: 64px;
            vertical-align: middle;
            margin: 0;
          }
        }

        .activate {
          display: none;
          color: $white;
          font-size: 64px;
          cursor: pointer;
          margin-left: 1px;
          background-color: fade-out($green-darkest, 0.5);
          width: 64px;
          line-height: 64px;
          text-align: center;
          &:hover {
            background-color: $green-dark;
          }
        }

        .deactivate {
          display: none;
          color: $white;
          font-size: 64px;
          cursor: pointer;
          margin-left: 1px;
          background-color: fade-out($red-darkest, 0.5);
          width: 64px;
          line-height: 64px;
          text-align: center;
          &:hover {
            background-color: $red-dark;
          }
        }

      }

      &:hover .hover {
        display: flex;
      }

      .children {
        position: absolute;
      }
    }
  }
}

