//main: styles.scss

nav {
  position: relative;
  background-color: #333;
  width: 200px;

  .header {
    background-color: $fgColor1;
    .logo {
      height: 64px;
      width: 64px;
      margin: 0 auto;
      padding-top: 30px;
      background-image: url(../images/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
    }

    h1 {
      padding: 1em 30px;
      margin: 0;
      text-align: center;
      color: #fff;
      border-bottom: 2px solid #303030;
    }
  }



  ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0;
    li {
      display: block;
      height:48px;
      padding: 0 30px;
      cursor: pointer;

      &:hover {
        background-color: #303030;
        a {
          color: $fgColor1;
        }
      }

      &.active {
        background-color: $fgColor1;
        color:#fff;
      }

      a {
        color: #fff;
        font-size: 0.8em;
        line-height: 48px;
        vertical-align: middle;
        text-decoration: none;
      }
    }
  }
}
