

#productview {
  display:none;

  .content {
    display:none;
  }

  .productInfo {
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: $blue-light;

    .image {
      box-sizing: border-box;
      height: 128px;
      width: 128px;
      background-image: url(../images/no-product-image.png);
      background-size: contain;
      border: 1px solid #cccccc;
    }

    .info {
      position: relative;
      flex-grow: 1;
      margin-left: 10px;
      font-size: 0.8em;

      .pricehistory {
        display: none;
        background-image: url(../images/loading.svg);
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        width: 500px;
      }

      .actions {
        position: absolute;
        bottom: 0;
        right:0;
        left:0;
        text-align: right;

        input {
          background-color: transparent;
          border: 1px solid $blue-dark;
          color: $blue-dark;
          padding: 6px 20px;
          border-radius: 4px;
          &:hover {
            background-color: $blue-dark;
            color: #fff;
          }
          cursor: pointer;
          transition: all 0.2s;
        }
      }
    }
  }

  .searchbar {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 32px;
    margin: 1px 0;

    .icon {
      background-image: url(../images/search.png);
      background-position: center;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      background-color: $blue-light;
    }

    form {
      position: relative;
      flex-grow: 1;

      input {
        box-sizing: border-box;
        height: 32px;
        width: 100%;
        padding: 0 1em;
        border: none;
        background-color: $blue-lighest;
        outline: none;
      }
    }
  }

  .shop, .price, .name {
    box-sizing: border-box;
  }

  .shop, .price, .type {
    border-left: 1px solid $white;
    text-align: center;
  }

  .shop {
    width: 20%;
    min-width: 96px;
  }

  .price {
    width: 20%;
    min-width: 96px;
  }

  table {
    font-size: 0.8em;
    border: none;
    border-spacing: 0;
    width: 100%;

    thead, tbody {
      border: none;

    }

    td, th {
      height: 32px;
      padding: 0 1em;
      margin: 0;
      line-height: 32px;
      vertical-align: middle;
    }

    tr {
      margin: 1px 0;
    }

    th {
      background-color: $blue;
      color: #fff;
    }

    td {
      background-color: $blue-lighest;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        background-color: $blue-light;
      }
    }
  }

  .pager {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    @mixin pagebtn() {
      margin: 2px;
      height: 16px;
      width: 16px;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
    }
    .previous, .next {
      @include pagebtn();
      background-color: $blue-dark;
      border: 1px solid $blue-dark;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: $blue-dark;
      }
    }
    .pages {
      display: flex;
      flex-direction: row;
      .pagebtn {
        @include pagebtn();
        border: 1px solid #fff;
        color: $blue-dark;
        &:hover {
          border: 1px solid $blue-dark;
        }
      }
      .active {
        border: 1px solid $blue-dark;
      }
    }

  }
}